{% extends 'default.view.admin_base' %}

{% block body %}
    <div class="title">
        <h1>
            Search results

            {% if results|length > 0  %}
                <em>{{ results|length }} search results</em>
            {% else %}
                <em> no results</em>
            {% endif %}
        </h1>
    </div>
    <div class="search-container">
        {% if search_settings.type == 'content_type' %}

            <div class="row">

                {% for result in results %}
                    <div class="col-lg-10 mt-4 p-2 bg-light rounded border">

                        {% for field in fields %}

                            {% if field == 'title' %}

                                <h5>
                                    {% if result.nid %}
                                        <a href="/node/{{ result.nid }}">{{ result.title }}</a>
                                    {% else %}
                                        {{ result.title }}
                                    {% endif %}
                                </h5>

                            {% elseif field == 'uid' %}

                                {% set author = author(result.uid)  %}
                                <p>Published and Author by <a href="/user/{{ author.uid }}"> {{ author.name }}</a></p>

                            {% elseif field == 'created' %}

                                <p>Created on <em>{{ result[field] }}</em></p>

                            {% elseif field == 'updated' %}

                                <p>Edited on <em>{{ result[field] }}</em></p>

                            {% elseif field == 'bundle' %}

                                {% set content_type = get_content_type(result[field]) %}

                                <p>Content is of type <em>{{ result.name }}</em></p>

                            {% elseif field != 'nid' %}

                                <p>{{ result[field]|raw }}</p>

                            {% endif %}

                        {% endfor %}

                    </div>
                {% endfor %}

            </div>

        {% endif %}

        {% if search_settings.type == 'user_type' %}

            <div class="row">

                {% for result in results %}
                    <div class="col-lg-10 mt-4 p-2 bg-light rounded border">

                        {% for field in fields %}

                            {% if field == 'uid' %}

                                {% set author = author(result.uid)  %}
                                <p>Profile account <a href="/user/{{ author.uid }}"> {{ author.name }}</a></p>

                            {% elseif field == 'created' %}

                                <p>Created on <em>{{ result[field] }}</em></p>

                            {% elseif field == 'updated' %}

                                <p>Edited on <em>{{ result[field] }}</em></p>

                            {% elseif field != 'name' %}

                                <p>{{ result[field]|raw }}</p>

                            {% endif %}

                        {% endfor %}

                    </div>
                {% endfor %}

            </div>

        {% endif %}
    </div>
{% endblock %}