{% set content = {
    'name': node.get(definition.name),
    'url': node.get(definition.name)
}

%}
{% if content %}

    {% set settings = display[definition.name] %}

    {% if settings.display_enabled %}
        <div class="field">
            <div class="node-link field-{{ definition.name|replace({'_':'-'}) }} field--{{ definition.name|replace({'_':'-'}) }}">
                {% if settings.display_label == '1' %}
                    {% if definition.label %}
                        <strong class="field-label">{{ definition.label }}</strong>
                    {% endif %}
                {% endif %}
                <a href="{{ content.url }}">{{ content.name }}</a>
            </div>

        </div>
    {% endif %}

{% endif %}