{% if request.user.getUser.uid %}
    <!-- Top Black Admin Bar -->
    <div class="admin-bar">
        <div>
            {% if request.user is not null and request.user.isIsAdmin %}
                <a href="#" class="menu-toggle"><i class="fa fa-bars"></i> {{ "Manage"|t }}</a>
                <a href="#"><i class="fa fa-star"></i> {{ "Shortcuts"|t }}</a>
            {% endif %}

            {% if request.user %}
                <a href="/user/{{ request.user.getUser.uid }}"><i class="fa fa-user"></i> {{ request.user.getUser.name }}</a>
            {% endif %}
        </div>
        {{ search_form('admin-content')|raw }}
        <div>
            {% if request.user is not null %}
                {% if is_module_enabled('announcement') %}
                    <a href="/admin/announcement/notifications"><i class="fa fa-bell"></i><sup>{{ announcement_unread_count() }}</sup></a>
                {% endif %}
                {% if request.user.isIsAdmin %}
                    <a href="#"><i class="fa fa-pencil"></i> {{ "Edit"|t }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="main-menu admin-admin-nav">
    {{ theme.menus|raw }}
</div>

