<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="robots" content="noindex, nofollow">
    <meta name="keywords" content="{{ page_keywords }}">

    {% if theme.admin.admin_assets_head is defined %}
        {% include (theme.admin.admin_assets_head) %}
    {% endif %}

    {% if theme.assets.head is defined %}
        {% for file_asset in theme.assets.head %}

            {{ file_asset|raw }}

        {% endfor %}
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body>

{% if request.user.isIsAdmin or request.user.isIsManager or request.user.isIsContentCreator %}

    {% if theme.admin.navigation is defined and theme.admin.navigation %}
        {% include (theme.admin.navigation) %}
    {% endif %}

{% endif %}

{% block navigation %}{% endblock %}

<div class="container main-content">
    {% block body %}{% endblock %}
</div>

{% block bottom %}{% endif %}

{% if request.user.isIsAdmin or request.user.isIsManager or request.user.isIsContentCreator %}

    {% if theme.admin.admin_assets_footer is defined and theme.admin.admin_assets_footer %}
        {% include (theme.admin.admin_assets_footer) %}
    {% endif %}

{% endif %}

{% if theme.assets.footer is defined %}
    {% for file_assetf in theme.assets.footer %}

        {{ file_assetf|raw }}

    {% endfor %}
{% endif %}

{% block footer %}{% endblock %}

</body>
</html>
