{% extends 'default.view.admin_base' %}

{% block body %}
    <h3>{{ node.title }}</h3>

    <p>
        {{ "Published by"|t }}
        <a href="/user/{{ node.uid }}"><strong>{{ node.getOwner }}</strong></a>
        on {{ node.created }}
    </p>

    <div>
        {% for definition in definitions %}

            {% set rendered = field_display_settings(definition.type, definition, options) %}

            {{ rendered|raw }}

        {% endfor %}
    </div>

{% endblock %}